.footer {
  position: relative;
  z-index: 1;
  background-color: $green;
  color: white;
  padding: {
    top: 32px;
    bottom: 32px;
  }
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    @media(min-width: 767px) {
      flex-direction: row;
      text-align: left;
    }
    a {
      color: white;
      text-decoration: none;
      &:active, &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

.footer__copyright {
  opacity: 0.6;
  text-align: center;
  padding: 8px;
}