.slider-nav__slide {
  overflow: hidden;
  background-position: center;
  background-size: center;
  margin: 0 16px;
  @media(max-width: 767px) {
    margin-left: 8px;
    margin-right: 8px;
  }
  @media(max-width: 500px) {
    margin-left: 2px;
    margin-right: 2px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.slick-track {
  display: flex;
  .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

.slick-slide {
  img {
    margin: auto;
  }
}

.slider-nav {
  margin-top: 8px;
  margin-bottom: 48px;
}

.slider-main__slide {
  position: relative;
}

.slider-main__decription {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 16px 12px;
  background: rgba(62, 62, 62, 0.65);
  color: white;
}

.portfolio .slick-prev {
  z-index: 1;
  left: 24px;
}

.portfolio .slick-next {
  z-index: 1;
  right: 24px;
}

.portfolio .slick-arrow {
  background-color: rgba($grey, .6);
  width: 40px;
  height: 200px;
  transition: background-color 0.2s ease-out;
  &:hover, &:active, &:focus {
    background-color: rgba($grey, .75);
  }
}

.portfolio .slick-next {
  right: 0;
}

.portfolio .slick-prev {
  left: 0;
}