//
// Base
// --------------------------------------------------
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

/* width */

::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */

::-webkit-scrollbar-track {
    background: #a4a4a4;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #231f20;
    transition: 0.2s;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #161616;
}

.inner {
    max-width: $inner;
    margin-left: auto;
    margin-right: auto;
    padding: {
        left: 16px;
        right: 16px;
    }
}

section {
    padding: {
        top: 60px;
        bottom: 60px;
    }
}

.grey {
    background-color: $grey-light;
}

section {
    scroll-margin-top: 80px;
}

.about__link {
    cursor: pointer;
    color: $green;
    text-decoration: underline;
    &:hover, &:active, &:focus {
        color: $green-kelly;
        text-decoration: underline;
    }
}