<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MBG Landscaping | Mike Gilligan - Serving Scituate, MA & the surrounding South Shore area</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W3XW4L2LQG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W3XW4L2LQG');
</script>
</head>

<body>
    <%= require('html-loader!../blocks/header.html') %>

    <section class="hero">
        <div class="inner">
            <div class="hero__copy">
                <h2>Quality work for over 30 years</h2>
                <p>Serving Scituate, MA & the surrounding South Shore area</p>
                <div>Contact now for a free estimate!</div>
            </div>
        </div>
    </section>

    <section id="about" class="inner">
        <h2>MBG Landscaping</h2>
        <p>Michael Gilligan has owned MBG Landscaping in Scituate, Ma for over 30 years. He has a true passion for landscape design, renovations and stonescapes. He works closely with  clients to help bring their vision to life. Over the years he has honed his skills and prides himself on providing each of his clients a design that is unique to them & their landscape.</p>
        <p>In addition to landscape design & management, he has fine skills in stonescapes and creating beautiful outdoor spaces that become an oasis for his clients. He also has a passion for building & mainting stonewalls that are a nod to our richly historical New England landscape.</p>
        <p>Through his work he highlights and respects the beauty of South Shore's natural environment. It has always been deeply important for him to build strong client relationships through trust and integrity. See his work below & contact him for a free estimate.</p>
    </section>

    <section id="services" class="services">
        <div class="inner">
            <h2>Services</h2>
            <ul class="services__list">
                <li class="services__item">Full landscape consultations</li>
                <li class="services__item">Property Management</li>
                <li class="services__item">Landscape design and installation</li>
                <li class="services__item">Retaining walls</li>
                <li class="services__item">Machine services</li>
                <li class="services__item">Outdoor fireplaces and fire pits</li>
                <li class="services__item">Tree and pruning work</li>
                <li class="services__item">Walkways and patios</li>
                <li class="services__item">Driveways</li>
                <li class="services__item">Cobblestone aprons/edging</li>
                <li class="services__item">Yard rehab/renovations</li>
                <li class="services__item">Snow Removal</li>
            </ul>
        </div>
    </section>

    <section id="portfolio" class="portfolio inner">
        <h2>Our Work</h2>
        <div class="slider-main">
            <div class="slider-main__slide">
                <div>
                    <img src="images/portfolio/1.jpg" alt="">
                    <div class="slider-main__decription">
                        <p>Want to add descriptive copy?</p>
                    </div>
                </div>
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/2.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/3.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/3b.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/4.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/5.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/6.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/7.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/8.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/9.jpg" alt="">
            </div>
        </div>
        <div class="slider-nav">
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/1.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/2.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/3.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/3b.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/4.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/5.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/6.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/7.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/8.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/9.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
        </div>
    </section>

    <section id="contact" class="contact">
        <h2>Contact</h2>
    </section>

    <%= require('html-loader!../blocks/footer.html') %>

    <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(function() {
            $('header li').on('click', function() {
                const section = $(this).data('section');
                const sectionAbout = document.getElementById(section);

                sectionAbout.scrollIntoView({behavior: 'smooth'});
            });

            $('.slider-main').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav',
                variableWidth: true
            });

            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.slider-main',
                dots: true,
                centerMode: true,
                focusOnSelect: true
            });
        });
    </script>
</body>

</html>