<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MBG Landscaping | Serving Scituate, MA & the surrounding South Shore area</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>

<body>
    <%= require('html-loader!../blocks/header.html') %>

    <section class="hero">
        <div class="inner">
            <div class="hero__copy">
                <h1>MBG Landscaping</h1>
                <p>Serving Scituate & the surrounding South Shore area for over 30 years</p>
                <div>Contact for a free estimate</div>
            </div>
        </div>
    </section>

    <section id="about" class="inner">
        <h2>About MBG</h2>
        <p>My name is Michael Gilligan. I have owned my own landscape business in Scituate, Ma for over 30 years. I have a true passion for landscape design, renovations and stonescapes. I work closely with my clients to help bring their dream or vision to fruition. Over the years I have honed my skills and pride myself in providing each of my clients with creating a design concept that's truly unique to them.</p>
        <p>The past few years I have expanded my business and out more time and focus into building stonescapes and beautiful outdoor spaces that become an oasis for my clients. I also have a passion for building stonewalls that are a nod to our richly historical New England landscape. Through my work I have tried to highlight and respect the beauty of our natural environment. It has always been deeply important to me to build a strong client relationship through trust and integrity.</p>
    </section>

    <section id="services" class="services">
        <div class="inner">
            <h2>Services</h2>
            <ul class="services__list">
                <li class="services__item">Full landscape consultations</li>
                <li class="services__item">Property Management</li>
                <li class="services__item">Landscape design and installation</li>
                <li class="services__item">Retaining walls</li>
                <li class="services__item">Machine services</li>
                <li class="services__item">Machine services</li>
                <li class="services__item">Outdoor fireplaces and fire pits</li>
                <li class="services__item">Tree and pruning work</li>
                <li class="services__item">Walkways and patios</li>
                <li class="services__item">Driveways</li>
                <li class="services__item">Cobblestone aprons/edging</li>
                <li class="services__item">Yard rehab/renovations</li>
            </ul>
        </div>
    </section>

    <section id="portfolio" class="portfolio inner">
        <h2>Portfolio</h2>
        <div class="slider-main">
            <div class="slider-main__slide">
                <div>
                    <img src="images/portfolio/1.jpg" alt="">
                    <div class="slider-main__decription">
                        <p>Want to add descriptive copy?</p>
                    </div>
                </div>
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/2.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/3.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/3b.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/4.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/5.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/6.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/7.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/8.jpg" alt="">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/9.jpg" alt="">
            </div>
        </div>
        <div class="slider-nav">
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/1.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/2.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/3.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/3b.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/4.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/5.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/6.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/7.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/8.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/9.jpg)">
                <img src="images/portfolio/spacer.png" alt="">
            </div>
        </div>
    </section>

    <section id="contact" class="contact">
        <h2>Contact</h2>
    </section>

    <%= require('html-loader!../blocks/footer.html') %>

    <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(function() {
            $('header li').on('click', function() {
                const section = $(this).data('section');
                const sectionAbout = document.getElementById(section);

                sectionAbout.scrollIntoView({behavior: 'smooth'});
            });

            $('.slider-main').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav',
                variableWidth: true
            });

            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.slider-main',
                dots: true,
                centerMode: true,
                focusOnSelect: true
            });
        });
    </script>
</body>

</html>