<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Michael B Gilligan Landscape Design</title>

    <link rel="canonical" href="https://ecolandscapesdesign.com/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Michael B Gilligan Landscaping" />
	<meta property="og:url" content="https://ecolandscapesdesign.com/" />
	<meta property="og:site_name" content="Ecolandscapes Design" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-34Y0J4KN3P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-34Y0J4KN3P');
</script>
</head>

<body>
    <%= require('html-loader!../blocks/header.html') %>

    <section class="hero">
        <div class="inner">
            <div class="hero__copy">
                <h2>Quality work for over 30 years</h2>
                <p>Serving Scituate, MA & the surrounding South Shore area</p>
                <div class="btn js-navigate" data-section="contact">Contact Now<div>
            </div>
        </div>
    </section>

    <section id="about" class="inner">
        <h2>MBG Landscaping</h2>
        <div class="about__top">
            <div class="about__copy">
                <p>Michael Gilligan has owned MBG Landscaping in Scituate, MA for over 30 years. He has a true passion for landscape design, renovations and stonescapes. He works closely with  clients to help bring their vision to life. Over the years he has honed his skills and prides himself on providing each of his clients a design that is unique to them &amp; their landscape.</p>
                <p>In addition to landscape design & management, he has fine skills in stonescapes and creating beautiful outdoor spaces that become an oasis for his clients. He also has a passion for building & maintaining stonewalls that are a nod to our richly historical New England landscape.</p>
                <p>Through his work he highlights and respects the beauty of South Shore's natural environment. It has always been deeply important for him to build strong client relationships through trust and integrity.</p>
            </div>
            <div class="about__img">
                <img src="images/callout-1.jpg" alt="Stone Wall">
                <img src="images/callout-2.jpg" class="img-two" alt="Custom Patio Design">
            </div>
        </div>
        <div class="about__bottom">
            <img src="images/callout-2.jpg" class="img-one" alt="Custom Patio design">
            <img src="images/callout-1.jpg" class="img-two" alt="Stone Wall">
        </div>
    </section>

    <section id="services" class="services grey">
        <div class="inner">
            <h2>Services</h2>
            <ul class="services__list">
                <li class="services__item"><h3>Full landscape consultations</h3></li>
                <li class="services__item"><h3>Property Management</h3></li>
                <li class="services__item"><h3>Landscape design and installation</h3></li>
                <li class="services__item"><h3>Retaining walls</h3></li>
                <li class="services__item"><h3>Machine services</h3></li>
                <li class="services__item"><h3>Outdoor fireplaces and fire pits</h3></li>
                <li class="services__item"><h3>Tree and pruning work</h3></li>
                <li class="services__item"><h3>Walkways and patios</h3></li>
                <li class="services__item"><h3>Driveways</h3></li>
                <li class="services__item"><h3>Cobblestone aprons/edging</h3></li>
                <li class="services__item"><h3>Yard rehab/renovations</h3></li>
                <li class="services__item"><h3>Snow Removal</h3></li>
            </ul>
        </div>
    </section>

    <section id="portfolio" class="portfolio inner">
        <h2>View Work</h2>
        <div class="slider-main">
            <div class="slider-main__slide">
                <img src="images/portfolio/2.jpg" alt="Walkway with shrubbery">
            </div>
            <div class="slider-main__slide">
                <div>
                    <img src="images/portfolio/1.jpg" alt="Brick patio with beautiful shrubbery">
                    <div class="slider-main__decription">
                        <p>Want to add descriptive copy?</p>
                    </div>
                </div>
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/3.jpg" alt="FRont yard sod with stone pathway">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/3b.jpg" alt="Outdoor fireplace">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/4.jpg" alt="Stone patio">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/4b.jpg" alt="Stone patio with steps">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/5.jpg" alt="Hillside with grading and new plants">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/6.jpg" alt="Herringbone brick pattern for patio">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/7.jpg" alt="New England stone wall">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/8.jpg" alt="Custom built New England stone wall">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/9.jpg" alt="Driveway with stone siding">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/10.jpg" alt="South Shore stone walls">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/11.jpg" alt="Custom patio paver steps">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/12.jpg" alt="Hand built historic stone wall">
            </div>
            <div class="slider-main__slide">
                <img src="images/portfolio/13.jpg" alt="Stone pillar landscape">
            </div>
        </div>
        <div class="slider-nav">
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/2.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/1.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/3.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/3b.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/4.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/4b.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/5.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/6.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/7.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/8.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/9.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/10.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/11.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/12.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
            <div class="slider-nav__slide" style="background-image:url(images/portfolio/13.jpg)">
                <img src="images/portfolio/spacer.png" alt="Landscaping Thumbnail">
            </div>
        </div>
    </section>

    <section class="member-quotes reviews grey">
        <div class="member-quotes_inner inner">
            <div class="wc__copy text-center">
                <h2 class="wc__h2">Customer Reviews</h2>
            </div>
            <div class="member-quotes__slider">
                <div class="member-quotes__quote">
                    <img
                            src="/images/quote.svg"
                            alt="Open Quote Mark" class="member-quotes__open-quote">
                    <p class="member-quotes__copy">The first thought that comes to mind when thinking of Mike Gilligan is integrity. Mike operates an exceptional landscaping business, he treats his customers how he would like to be treated. He has years of experience and is very creative in providing solutions for any exterior work. If you are looking for superior workmanship, outstanding communication, and exceptional service then I wouldn’t use anyone else.</p>
                        <strong class="member-quotes__copy">- Ellen</strong>
                </div>
                <div class="member-quotes__quote">
                    <img src="/images/quote.svg"
                            alt="Open Quote Mark" class="member-quotes__open-quote">
                        <p class="member-quotes__copy">We have used Michael Gilligan Landscaping for years. His services include design, construction, stone, plantings, lawns and maintenance. Michael is dependable and knowledgeable, we highly recommend his services.</p>
                    <strong class="member-quotes__copy">- Skip & Mary Ann</strong>
                </div>
                <div class="member-quotes__quote">
                    <img src="/images/quote.svg"
                            alt="Open Quote Mark" class="member-quotes__open-quote">
                    <p class="member-quotes__copy">Mike was wonderful to work with. Aside from the beautiful patio he created for us, he was incredibly responsive to all our questions and he was in constant communication with us throughout the project. He provided us with insight and options that were pragmatic and thoughtful, so that we could make the best choices for our house. We will highly recommend Mike to all our friends and family!</p>
                        <strong class="member-quotes__copy">- Matt</strong>
                </div>
                <div class="member-quotes__quote">
                    <img src="/images/quote.svg"
                            alt="Open Quote Mark" class="member-quotes__open-quote">
                        <p class="member-quotes__copy">Michael Gilligan updated my landscaping in 2022.  He spent the time to determine what I was looking for and worked with me to select the best choices to meet my goals.  I could not be more pleased with the outcome.  The changes in the front yard make it much more cohesive and low maintenance.  Per my request, Michael did leave me room to plant a few things on my own to personalize it!  My favorite part of the work is definitely the area around the pool.  The combination of the grasses and hydrangeas make it feel very beachy, which is exactly what I was looking for.  I absolutely love the whole result.</p>
                    <strong class="member-quotes__copy">- Suzanne</strong>
                </div>
                <div class="member-quotes__quote">
                    <img src="/images/quote.svg"
                            alt="Open Quote Mark" class="member-quotes__open-quote">
                        <p class="member-quotes__copy">When we built our new house, our entire yard needed to be landscaped.
                            Mike Gilligan did an amazing job designing and creating our new landscape.
                            He had very creative ideas and we were able to work together to design
                            something that we would end up loving. Mike Gilligan not only planted an
                            assortment of trees, bushes and grasses but he also designed and made our
                            driveway, walkway and patio area. All of these have attractive curves and
                            shapes. In addition, Mike Gilligan built an incredible curved stone wall using
                            stones that had been dug up in our yard during the building of our house. He
                            also retrieved wood from fallen trees to build unique post fences. Mike was
                            great to work with and we ended with up with a detailed landscape that is
                            easy to maintain.</p>
                    <strong class="member-quotes__copy">- Lavina</strong>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact">
        <div class="inner">
            <h2>Contact</h2>
            <p style="text-align:center; margin: 70px 0 -45px;">
                Call now at <a href="tel:781-589-5095">(781) 589-5095</a> or use the form below:
            </p>
            <!-- form.123formbuilder.com script begins here --><script type="text/javascript" defer src="https://form.123formbuilder.com/embed/4808565.js" data-role="form" data-default-width="650px"></script><!-- form.123formbuilder.com script ends here -->
        </div>
    </section>

    <%= require('html-loader!../blocks/footer.html') %>

    <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(function() {
            $('.js-navigate').on('click', function() {
                const section = $(this).data('section');
                const sectionAbout = document.getElementById(section);

                sectionAbout.scrollIntoView({behavior: 'smooth'});
            });

            $('.slider-main').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                fade: true,
                asNavFor: '.slider-nav',
                variableWidth: false
            });

            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.slider-main',
                dots: false,
                centerMode: true,
                arrows: false,
                focusOnSelect: true
            });

            // only init slider for desktop 
            var memSliderWinWidth = $(window).width(); 

            function initMemberSlider() {   
                var total = $('.member-quotes__quote').length, // get the number of slides
            rand = Math.floor( Math.random() * total ); // random number

                $('.member-quotes__slider').slick({     
                    infinite: true,     
                    dots: true,     
                    slidesToShow: 1,     
                    slidesToScroll: 1,     
                    prevArrow: "<div class='member-quotes__prev-btn'><img class='member-quotes__prev-img slick-prev' src='/images/arrow-back.png'></div>",     
                    nextArrow: "<div class='member-quotes__next-btn'><img class='member-quotes__next-img slick-next' src='/images/arrow.png'></div>"   
                }).slick('slickGoTo', rand); //navigate to random slide
            } 
            
            if (memSliderWinWidth >= 767) {   
                initMemberSlider(); 
            }

            $(window).resize(function () {   
                memSliderWinWidth = $(window).width();   
                if (memSliderWinWidth <= 766) {     
                $('.member-quotes__slider').slick('unslick');   
                } else {     
                initMemberSlider();   
                } 
            }); 
        });
    </script>
</body>

</html>